{% extends 'base.html.twig' %}




{% block body %}
    
    <div class="row">
     <div class="col-md-1"></div>
  <div class="col-md-10">
    
   
    

    <div class="row text-justify">
        <h2 class="navbar-ct-default text-default">otro contacto</h2>
     
        {{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
        
    </div>
  </div>
        
        
        
{% endblock %}
