{% extends 'base.html.twig' %}




{% block body %}
    
    <div class="row">
     <div class="col-md-1"></div>
  <div class="col-md-10">
    
   
    

    <div class="row text-justify">
        <h2 class="navbar-ct-default text-default">Restaurante</h2>
         <img src="../../assets/paper_img/avatar_restaurante.jpg" alt="Golf Club" class="img-rounded m-3" style="float:left; margin-right: 10px" >
         Disponemos de una amplia carta de platos de alta cocina para el disfrute de los sentidos. Todos los elementos en perfecta conjunción para ofrecerle una amplia gama de posibilidades para doisfrutar de la más selecta gastronomía. Cualquier especialidad a cualquier hora del día y la noche, estamos a su disposición.
         <br> <br>
         Nuestro equipo de cocina, formado por 20 cocineros y especialistas en gastronomía seleccionados de diferentes países del mundo, dirigido por el mundialmente conocido chef Germain Lacroix que posee 8 estrellas michelín le puede preparar alguno de sus platos más premiados en los festivales internacionales. 
    </div>
    </div>
     
      
     
     
     
     
     <div class="col-md-1"></div>   
     
     
    
    </div>
       <br>
       
      
       
       
       
       
    <div id="carousel">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <img src="../../assets/paper_img/carrusel1_restaurante.jpg" alt="Golf Club">
                </div>
                <div class="item">
                  <img src="../../assets/paper_img/carrusel2_restaurante.jpg" alt="Golf Club">
                </div>
                <div class="item">
                  <img src="../../assets/paper_img/carrusel3_restaurante.jpg" alt="Golf Club">
                </div>
                  <div class="item">
                  <img src="../../assets/paper_img/carrusel4_restaurante.jpg" alt="Golf Club">
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="fa fa-angle-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="fa fa-angle-right"></span>
              </a>
        </div>
    </div> <!-- end carousel -->
{% endblock %}
