{% extends 'base.html.twig' %}

{% block body %}
    
        <div class="container">
            <div class="row">
                <h1>PAGINA - PROYECTO default</h1>
                <h2> medici </h2>
                
                
            </div>

        </div>
   
{% endblock %}

{% block stylesheets %}

{% endblock %}
